body{
    margin: 0;
    padding: 0;
}

#add{
    margin: 50px;
}

dialog {
    border: none !important;
    border-radius: 8px;
    padding: 1.6rem;
}

.card{
    width: 80%
}

#todoArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projectArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    min-height: 1dvh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}